In [1]:
import pandas as pd

In [4]:
budget_data = pd.read_csv('Resources/budget_data.csv')

In [5]:
budget_data.head(10)

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503
5  Jun-2010         522857
6  Jul-2010        1033096
7  Aug-2010         604885
8  Sep-2010        -216386
9  Oct-2010         477532

In [9]:
total_months = budget_data['Date'].nunique()

In [13]:
print("Total Months:",total_months )

Total Months: 86

In [16]:
total = budget_data['Profit/Losses'].sum()

In [17]:
print("Total:",total)

Total: 38382578

In [18]:
budget_data['Profit/Losses'].max()

1170593

In [22]:
budget_data['Change'] = budget_data['Profit/Losses'].diff()

In [23]:
budget_data.head(5)

       Date  Profit/Losses    Change
0  Jan-2010         867884       NaN
1  Feb-2010         984655  116771.0
2  Mar-2010         322013 -662642.0
3  Apr-2010         -69417 -391430.0
4  May-2010         310503  379920.0

In [30]:
Average_change = budget_data['Change'].mean()

In [31]:
print("Average Change:",Average_change)

Average Change: -2315.1176470588234

In [41]:
Greatest_increase = budget_data['Change'].max()

In [42]:
Greatest_increase_month = budget_data[budget_data['Change'] == 1926159.0]['Date']

In [43]:
print("Greatest Increase in Profits:",Greatest_increase_month, Greatest_increase)

Greatest Increase in Profits: 25    Feb-2012
Name: Date, dtype: object 1926159.0

In [38]:
Greatest_decrease = budget_data['Change'].min()

In [39]:
Greatest_decrease_month = budget_data[budget_data['Change'] == -2196167.0]['Date']

In [40]:
print("Greatest Decrease in Profits:",Greatest_decrease_month, Greatest_decrease)

Greatest Decrease in Profits: 44    Sep-2013
Name: Date, dtype: object -2196167.0